{% extends "base.html" %}

{% block title %}Votação - Projeto Destaque{% endblock %}

{% block content %}
<h2 class="mb-4">Votação do Projeto Destaque - Mês Atual</h2>

{% if projetos %}
  <div class="row mb-4">
    {% for projeto in projetos %}
      <div class="col-12 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h4 class="card-title">{{ projeto["titulo"] }}</h4>
            <p><strong>Responsável:</strong> {{ projeto["responsavel"] }}</p>
            <p>{{ projeto["descricao"] }}</p>

            <div class="row justify-content-center align-items-start">
              <div class="col-md-6 text-center mb-3">
                <h6>Antes:</h6>
                
                <a href="{{ url_for('static', filename='uploads/' + projeto['imagem_antes']) }}" target="_blank">
                <img 
                  src="{{ url_for('static', filename='uploads/' + projeto['imagem_antes']) }}"
                  class="img-fluid rounded"
                  style="max-height: 500px; object-fit: contain; cursor: pointer;"
                  alt="Imagem Antes"
                >
                </a>
                                
              </div>
              <div class="col-md-6 text-center mb-3">
                <h6>Depois:</h6>
                <a href="{{ url_for('static', filename='uploads/' + projeto['imagem_depois']) }}" target="_blank">
                  <img 
                    src="{{ url_for('static', filename='uploads/' + projeto['imagem_depois']) }}"
                    class="img-fluid rounded"
                    style="max-height: 500px; object-fit: contain; cursor: pointer;"
                    alt="Imagem Depois"
                  >
                </a>
              </div>
            </div>

            <div class="mt-3">
              <form method="post">
                <input type="hidden" name="projeto_id" value="{{ projeto['id'] }}">
                {% if not voto_existente %}
                  <button type="submit" class="btn btn-success">Votar neste projeto</button>
                {% elif voto_existente and voto_existente['projeto_id'] != projeto['id'] %}
                  <button type="submit" class="btn btn-warning">Alterar voto para este projeto</button>
                {% else %}
                  <div class="alert alert-success mt-3" role="alert">
                    ✅ Você votou neste projeto!
                  </div>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="alert alert-warning">Nenhum projeto cadastrado neste mês.</div>
{% endif %}

<a href="/" class="btn btn-outline-secondary mt-4">Voltar</a>
{% endblock %}